<!-- <div class="basic-container">
    <h2>Basic Example</h2>
    <gallery id="basic-test" fluid [items]="items"></gallery>
</div>

<div class="lightbox-example">
    <h2>Lightbox Example</h2>
    <button (click)="lightbox.open(0)">Open Lightbox</button>


    <button (click)="lightbox.open(0, 'lightbox', {panelClass: 'fullscreen'})">Open Lightbox in fullscreen mode</button>
</div> -->

<div class="gallerize-example">
    <h2>Gallerize Example</h2>
    <div class="container" gallerize>
        <img *ngFor="let img of imageData let i = index" (click)="lightbox.open(i, 'lightbox', {panelClass: 'fullscreen'})" [src]="img.srcUrl">
    </div>
</div>
<!-- <div class="grid">
    <div class="grid-item" *ngFor="let item of imageData let i = index" [lightbox]="i" [gallery]="galleryId">
        <img [src]="item.data.thumbnail">
    </div>
</div> -->